{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/home/index.css')}}>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Bonjour {{app.user.firstname}} {{app.user.lastname}}, bienvenue sur le logiciel de gestion de formation réalisé par Formatech</h1>
        {% if app.user.roles|first == "ROLE_ELEVE" %}
            <p>Ici, vous pouvez accéder aux notes et aux programmes que vos formateurs ont ajoutées sur le logiciel. </p>
            <p>Vous êtes actuellement dans la classe : {{app.user.classe.name}}</p>
            <p>Pour toute assistance, veuillez contacter l'administrateur de votre école</p>
        {% elseif app.user.roles|first == "ROLE_FORMATEUR"%}
            <p>Pour toute assistance, veuillez contacter l'administrateur de votre école</p>
            <p>Ici, vous pouvez ajouter des notes et des programmes aux matières et au classes qui vous sont associées</p>

        {% elseif app.user.roles|first == "ROLE_TUTEUR"%}
            <p>Ici, vous pouvez accéder aux notes et aux programmes que votre stagiaire ont obtenues récemment. </p>
            <p>Pour toute assistance, veuillez contacter l'administrateur de l'école</p>
        {% elseif app.user.roles|first == "ROLE_ADMIN"%}
            <p>Ici, vous pouvez gérer les utilisateurs, les classes et les matières de votre centre de formation. </p>
            <p>Pour toute assistance, veuillez nous contacter a l'adresse mail suivante : formatech-assistance@gmail.com</p>
        {% endif %}
    </div>
{% endblock %}
