{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/home/index.css')}}>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="cadre">
    <p class="titre">Note récentes :</p>
    <table>
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 60%;">
        </colgroup>
        <tbody>
            <tr class="ligneblanche">
                <td>Notes</td>
                <td>Moy.</td>
                <td>Matières</td>
            </tr>
            <tr class="lignebleu">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="ligneblanche">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="lignebleu">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="ligneblanche">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="lignebleu">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="ligneblanche">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="lignebleu">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr class="ligneblanche">
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
    <p class="boutton">Voir plus<p>
</div>
{% endblock %}
