{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/noteProf/index.css')}}>
        {% endblock %}
{% block title %}Hello ProgrameEleveController!{% endblock %}

{% block body %}
<a href={{path('app_ajout_controlle_index')}} type="submit">Ajouter</a>
    <div class="cadre">
        <p class="titre">informatique classe 3 :
        <table>
            <colgroup>
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 80%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                    
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td> 
                
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cadre">
        <p class="titre">informatique classe 3 :</p>
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="ligneblanche">
                    <td>Programmes</td>
                    <td>formateur</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="lignebleu">
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr class="ligneblanche">
                    <td>test</td>
                    <td>test</td>  
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}