{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/programmeEleve/programmeEleve.css')}}>
        {% endblock %}
{% block title %}Hello ProgrameEleveController!{% endblock %}

{% block body %}
<div id="cadre">
    <label for="anglais">
        anglais :
        </label>
    
    <table>
        <tr id="thead">
            <th>programmes</th>
            <th>formateurs</th>
        </tr>
        <tr id="tableau">
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>
        </table>
    </div>

    <div id="cadre">
    <label for="français">
       français :
        </label>
    
    <table>
        <tr id="thead">
            <th>programmes</th>
            <th>formateurs</th>
        </tr>
        <tr id="tableau">
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>
        </table>
    </div>

     <div id="cadre">
    <label for="maths">
        maths :
        </label>
    
    <table>
        <tr id="thead">
            <th>programmes</th>
            <th>formateurs</th>
        </tr>
        <tr id="tableau">
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
        </tr>
        </table>
    </div>   
{% endblock %}
