input[type=submit]{
    background: #ff8e2b;
    color: black;
 }

.cadre {
    background-color: #2e77ae;
    width: 60%;
    height: 400px;
    margin-top: 200px;
    
 }
 .connexion {
    background: #e0eaf5;

 }



