.cadre{
  background-color: #2E77AE;
  width: 45%;
  height: 340px;
  font-weight: bold;
}
.ligneblanche{
  background-color:white;
  text-align: center;
}

.lignebleu{
  background-color: #e0eaf5;
  text-align: center;
}
table{
  width: 95%;
  align-items: center;
  margin: auto;
  border-collapse: collapse;
}
tr{
  height: 30px;
  border: 1px solid grey;
}

td{
  border: 1px solid grey;
}

.titre{
  font-size: 18px;
  margin-left: 10px;
}

.content{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.contentDeux{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
body{
  margin: auto;
}

.content{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  position: absolute;
  height: 100vh;
}