{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/programmeProf/index.css')}}>
        {% endblock %}
{% block title %}Hello ProgrameEleveController!{% endblock %}

{% block body %}
    {% for matiere in matieres %}
        <div class="cadre">
            <p class="titre">Cours : {{matiere.name}} - Classe : 
                {% for classe in matiere.classes %}
                    {{classe.classname}}
                {% endfor %}
            </p>
            <table>
                <tbody>
                    <tr class="ligneblanche">
                        <td>Programmes</td>
                    </tr>
                    {% for programme in matiere.programmes %}
                    <tr class="ligneblanche">
                        <td>{{programme.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}


{% endblock %}
