{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/admin/modification/index.css')}}>
{% endblock %}

{% block body %}
        <div class="box">
            <h2 class="titre">Modifier le mot de passe</h2>
            {{form(form)}}
        </div>
{% endblock %}