{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/crud/index.css')}}>
{% endblock %}
{% block title %}Edit Programme{% endblock %}

{% block body %}
<div class="box">
    <h1>Modifier le programme</h1>

    {{ include('ajout_programme/_form.html.twig', {'button_label': 'Enrengistrer'}) }}

    <a class="button" href="{{ path('app_ajout_programme_index') }}">Retour a la liste</a>

    {{ include('ajout_programme/_delete_form.html.twig') }}
</div>
{% endblock %}
