{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/admin/index.css')}}>
{% endblock %}

{% block body %}
    <h1>Gestion :</h1>

<div class="wrapper">


    <table>
        <tr class="tHead">
            <th>Prénom</th>
            <th>Nom</th>
            <th>Mail</th>
            <th>Rôles</th>
            <th>Action</th>
        </tr>
        <tr class="first">
            <td>Matthieu</td>
            <td>Collin</td>
            <td>matthcollin23@gmail.com</td>
            <td>gestionnaire</td>
            <td></td>
        </tr>
        <tr>
            <td>Matthieu</td>
            <td>Collin</td>
            <td>matthcollin23@gmail.com</td>
            <td>gestionnaire</td>
            <td></td>
        </tr>
        <tr>
            <td>Matthieu</td>
            <td>Collin</td>
            <td>matthcollin23@gmail.com</td>
            <td>gestionnaire</td>
            <td></td>
        </tr>
        <tr>
            <td>Matthieu</td>
            <td>Collin</td>
            <td>matthcollin23@gmail.com</td>
            <td>gestionnaire</td>
            <td></td>
        </tr>
        <tr>
            <td>Matthieu</td>
            <td>Collin</td>
            <td>matthcollin23@gmail.com</td>
            <td>gestionnaire</td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}
