.cadre{
    background-color: #2E77AE;
    width: 45%;
    font-weight: bold;
}
.ligneblanche{
    background-color:white;
    text-align: center;
}

.lignebleu{
    background-color: #e0eaf5;
    text-align: center;
}

table{
    margin: auto;
    width: 95%;
    align-items: center;
    border-collapse: collapse;
}


tr{
    height: 30px;
    border: 1px solid grey;
}

td{
    border: 1px solid grey;
}

.titre{
    font-size: 18px;
    margin-left: 10px;
}

.boutton{
    justify-content: center;
    background-color: #FF8e2B;
    width: 20%;
    display: flex;
    margin-left: 77%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100vh;
}

body{
    align-items: center;
}
