.cadre{
    background-color: #2E77AE;
    width: 45%;
    font-weight: bold;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table{
    margin: auto;
    width: 95%;
    align-items: center;
    border-collapse: collapse;
    background-color: white ;
}


tr{
    height: 30px;
    border: 1px solid grey;
}

td{
    border: 1px solid grey;
}

tr:nth-child(even){
    background-color:#E0EAF5;
  }

.titre{
    font-size: 18px;
    margin-left: 10px;
}

.boutton{
    justify-content: center;
    background-color: #FF8e2B;
    width: 20%;
    display: flex;
    margin-left: 77%;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100vh;
}

body{
    align-items: center;
}
