.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

table{
    border-collapse:separate;
    margin: 20px;
}

tr{
    border: 1px solid black;
}

td,th{
    padding: 30px;
    width: 200px;
    text-align: center
}
