{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href={{asset('/css/noteEleve/noteEleve.css')}}>
        {% endblock %}
{% block title %}Hello NoteEleveController!{% endblock %}

{% block body %}
<div id="cadre">
    <label for="vos notes">
        Vos Notes :
        </label>
    
    <table>
        <tr id="thead">
            <th>note</th>
            <th>moy.</th>
            <th>matiéres</th>
            <th>formateurs</th>
        </tr>
        <tr id="tableau">
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>       
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        </table>

    </div>
{% endblock %}
