<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Coucou!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
            <footer>
        <div id="foot">
            <div><p>Navigation:</p></div>
                <nav>
                    <ul>
                        <li><a href="accueil.html" target="_blank">Acceuil</a></li>
                        <li><a href="notes.html" target="_blank">notes</a></li>
                        <li><a href="programmes.html" target="_blank">programmes</a></li>
                    </ul>
                </nav>
        </div>
        <div class="logo"><img src="image/logo.png" title="logo_techforma" alt="logo.png" ></div>
    </footer>
    </body>
</html>
