{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/crud/index.css')}}>
{% endblock %}
{% block title %}Edit Controle{% endblock %}

{% block body %}
<div class="box">
    <h1>Edit Controle</h1>

    {{ include('ajout_controle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ajout_controle_index') }}">Retour a la liste</a>

    {{ include('ajout_controle/_delete_form.html.twig') }}
</div>
{% endblock %}
